<div id="container-item" class="d-flex">
  <a class="align-self-center pointer" (click)="togglePurchase()">
    <i class="material-icons">{{ item.picked === 't' ? 'check_box' : 'check_box_outline_blank'}}</i>
  </a>
  <form class="col">
    <input
      [class.text-muted]="item.picked === 't'"
      required
      placeholder="Enter item here"
      autofocus type="text"
      class="form-control-plaintext"
      name="title"
      [(ngModel)]="item.title"
      (blur)="onBlur(item)">
  </form>
  <span
    class="align-self-center ml-auto mr-2 badge badge-primary badge-pill pointer"
    matTooltipPosition="before"
    (click)="openDialog(item)">
    <i class="fas fa-info"></i>
  </span>
</div>



