<div id="container-list">
  <nav class="navbar navbar-dark bg-primary">
  <span class="navbar-brand h2">My List</span>
    <button
      type="button"
      class="btn btn-primary pull-right"
      matTooltip="Add Item"
      matTooltipPosition="before"
      (click)="onAddItem()">
      <i class="fas fa-plus fa-lg text-white"></i>
    </button>
  </nav>
  <ul
    *ngIf="getItems()?.length > 0; else noItems"
    class="list-group">
    <li
      *ngFor="let item of getItems()"
      class="list-group-item">
      <app-item [item]="item"></app-item>
    </li>
  </ul>
  <ng-template #noItems>
    <div>
      <h3 class="text-white text-center">No items to display!</h3>
    </div>
  </ng-template>
</div>
